.footer {
  flex-shrink: 0;
  text-align: left;
  background-color: #009246;
  color: white;
  padding-top: 8px;
  padding-bottom: 2px
}

.footer p {
    margin-top: 12px;
    margin-bottom: 0;
    text-align: center;
    font-size: 0.7rem;
    padding : 0;
}

.footer-icons {
    float:right;
}